$size: 20px;
$back_color: antiquewhite;
$h1_background: #765132;
$alto_redes: 50px;
$ancho_redes: 50px;
$bordes: 300px;
$espacios: 10px;
$h1_color: white;
$h1_font_size: 300%;
$h1_text_align: center;
$h1_font:'Josefin Sans', sans-serif;
$p_font: 'Square Peg', cursive;
$p_font_size: 40px;


