@import "../sass2/maps";

footer{
    display: grid;
    justify-content: center;
}

.social{
    display: grid;
    grid-template-columns: repeat(3, 33.40%);

    a{
        width: map-get($redes, ancho);
        height: map-get($redes, alto);
        border-radius: map-get($redes, borde);
        display: flex;
        padding: map-get($redes, espacio);
        cursor: pointer;
        text-decoration: none;
        transition: 0.4s;
    }
        a:hover{
            transform:translateY(-10px);
        }

}



