main {
    background-size: cover;
    background-color: antiquewhite; 
}


  /* Agrego texto en medio de la imagen con negrita y sobreado */
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center; 
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    font-family: 'Josefin Sans', sans-serif; 
}